.custom-skeleton {
  ion-card-content > p {
    width: 100%;
  }

  ion-button {
    width: 30%;
  }
}

ion-card-content {
  display: flex;
  flex-direction: column;

  > p {
    align-self: flex-start;
  }

  > ion-button {
    align-self: flex-end;
  }
}
