<ion-header>
  <app-header [showBackButton]="false" title="Inicio"></app-header>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingCardsInfo;else cardsList">
    <app-fee-card
      *ngFor="let fakeCard of fakeCards"
      [isSkeleton]="true"
    ></app-fee-card>
  </div>

  <ng-template #cardsList>
    <app-empty-message
      *ngIf="feeCardsInfo.length === 0"
      message="¡Anímate a crear tu primer plan de ahorros!."
    ></app-empty-message>

    <app-fee-card
      *ngFor="let feeCardInfo of feeCardsInfo"
      [feeCardInfo]="feeCardInfo"
      (onQuotaSaved)="onQuotaSaved($event)"
      (onCardClick)="onCardClickHandler($event)"
    ></app-fee-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary" (click)="onCreateClick()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-content>
